.form-editor{
    border: 2px solid #703b09;
    max-width: 900px;
    margin: 0 auto;
    padding: 10px;
}
.form-editor select{
    width: 50%;
    font-size: 18px;
    display: block;
    margin-bottom: 5px;

}
#title{
    display: block;
    width: 70%;
    font-size: 18px;
    margin-bottom: 5px;
}
#text{
    width: 70%;
    display: block;
    font-size: 18px;
    height: 200px;
    margin-bottom: 15px;
}
.form-editor button{
    font-size: 16px;
    padding: 10px;
}
label{
    font-size: 16px;
}